<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Category List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Category List</h1>
<!--<a th:href="@{/getSheets}">Add Category</a>-->
<br/><br/>
<div>
    <table border="1">
        <thead>
        <tr>
            <th th:each="category : ${titleInfo}" th:text="${category.getTitle()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <!-- Lặp qua từng ô trong hàng -->
            <td th:each="cell : ${category}" th:text="${cell}"></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>